body::after{
    background-image: url("img/image_blog.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
}


body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.navbar .btn-default{
	display: block;
	background-color: transparent;
	border: none;
	margin-right: 10px;
}
.navbar {
	margin-bottom: 0;
}

.item img {
	background-size: cover;
}

.carousel .item {
	height: 500px;	
}

.giant-header {
	margin: 30px 0;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #A1A1A1;
}
.navbar-inverse {
	background-color: rgba(0,0,0,0.5);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: rgba(0,0,0,0.8);
	background-image: none;
}
.header-main {
	min-height: 250px;
	background: url(img/slide1.jpg) no-repeat;
  	background-size: 100% 100%;
  	background-size: cover;
}
.blog-container{
	margin-top: -25px;
	margin-bottom: 20px;
	min-height: 665px;
	border:1px solid #CCC;
	background-color: #FFF;
}
.blog-container h1{
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #777;
	border-bottom: 2px solid #CCC;
}
.post-container h2{
	font-weight: bold;
}
.post-container h2+p{
	font-size: 10px;
}
.post-container h2+p>.date {
	color: #00F;
}
.post-content {
	margin-top: 20px;
}
.post-container {
	margin-bottom: 30px;
}


.main-nav{
	/* background-color: #80B959; */
	height: 55px;
	line-height: 55px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1040;
}

.main-nav::after{
    display: table;
    content: "";
}

main-nav .btn-menu{
    align: right;   
}

#header{
	background-color: #80B959;
	padding: 55px 0;
	min-height: 200px;
	padding-bottom: 1em;
	position: relative;
}

.welcome-text {
	min-height: 200px;
    color: #FFF;
}

#header h1 {
	 font-size: 45px; 
	font-weight: 300;
}

#header h2 {
	font-family: "Merriweather", georgia, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
}

#header .middle-text {
	text-align: center;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 20;
}

#cover-image {
    position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url(img/image_blog.jpg);
    background-position: center center;
	background-size: cover;
}

#cover-image:after {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	left: 0;
	width: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.4);
}

.middle-text {
	text-align: center;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 20;
}

#header .container {
    margin: 0 auto;
    height: 377px;
    display: table;
}
a.main-logo{
    float: left;
    margin-top: 15px;
}
a.btn-right{
    margin-top: 15px;
    float: right;  
    margin-right: 20px;
}
button.btn-menu{
    margin-top: 15px;
    float: right;
    border: none;
}
